.bg1,
.bg2,
.bg3 {
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-color: rgba(0, 0, 0, 0.5);
}

.bg1 {
  background-image: url('./img/image1.jpg');
  min-height: 650px;
}

.bg2 {
  background-image: url('./img/bg7.jpg');
  min-height: 550px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color:#fff;
  color: #666;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  color: #111;
  padding: 20px;
  border-color: #000 !important;
  font-weight: 500;
}

.border .trans {
  background-color: transparent;
}

.profile-icons{
  font-size: 36px;
  margin-top: 40px;
}

.dancing-icons{
  height: 36px;
  width: 45px;
  margin-top: 40px;
}

.profile-contents{
  margin-top: 20px;
}

a.lettering{
  color:rgb(155, 125, 129);
}

a.lettering:hover{
  color: rgb(155, 125, 129);
  border-bottom: 0.5px solid rgb(155, 125, 129); 
}

.email{
  font-family: "Source Sans Pro",sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  border-width: 2px;
}

.modal-header,
.modal-footer{
  border-bottom: none;
  border-top: none;
}

.PastExp{
  text-align: left;
}

.PastExp li{
  margin-left: 30px;
  margin-bottom: 10px;
}

h2{
  margin-top: -15px;
  margin-bottom: 15px;
  text-align: center;
}

a.resume{
  margin-left: 5px;
  color:rgb(155, 125, 129);
}

a.resume:hover{
  color: rgb(155, 125, 129);
  border-bottom: 0.5px solid rgb(155, 125, 129); 
}

#contact{
  background-image: url('./img/bg8.jpg');
  min-height: 400px;
  min-width: 50px;
  background-size: cover;                    
  color:#fff;
}