.bg1,
.bg2,
.bg3 {
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.bg1 {
  background-image: url("./img/image1.jpg");
  min-height: 650px; }

.bg2 {
  background-image: url("./img/bg7.jpg");
  min-height: 450px; }

.section {
  text-align: center;
  padding: 50px 80px; }

.section-light {
  background-color: #fff;
  color: #666; }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; }

.ptext .border {
  color: #111;
  padding: 20px;
  border-color: #000 !important;
  font-weight: 500; }

.border .trans {
  background-color: transparent; }

.profile-icons {
  font-size: 36px;
  margin-top: 40px; }

.dancing-icons {
  height: 36px;
  width: 45px;
  margin-top: 40px; }

.profile-contents {
  margin-top: 20px; }

a.lettering {
  color: #9b7d81; }

a.lettering:hover {
  color: #9b7d81;
  border-bottom: 0.5px solid #9b7d81; }

.email {
  font-family: "Source Sans Pro",sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  border-width: 2px; }

.modal-header,
.modal-footer {
  border-bottom: none;
  border-top: none; }

.ExpPast {
  text-align: left; }

.ExpPast li {
  margin-left: 30px;
  margin-bottom: 10px; }

h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center; }

a.resume {
  margin-left: 5px;
  color: #9b7d81; }

a.resume:hover {
  color: #9b7d81;
  border-bottom: 0.5px solid #9b7d81; }

#contact {
  background-image: url("./img/bg8.jpg");
  min-height: 400px;
  min-width: 50px;
  background-size: cover;
  color: #fff; }
