.bg1,
.bg2,
.bg3 {
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.bg1 {
  background-image: url("./img/image1.jpg");
  min-height: 700px; }

.bg2 {
  background-image: url("./img/image2.jpg");
  min-height: 550px; }

.bg3 {
  background-image: url("./img/Seoul.jpg");
  min-height: 550px; }

.section {
  text-align: center;
  padding: 50px 80px; }

.section-light {
  background-color: #f4f4f4;
  color: #666; }

.section-dark {
  background-color: #282e34;
  color: #ddd; }

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; }

.ptext .border {
  color: #111;
  padding: 20px;
  border-color: #000 !important;
  font-weight: 500; }

.border .trans {
  background-color: transparent; }

.profile-icons {
  font-size: 36px;
  margin-top: 40px; }

.dancing-icons {
  height: 36px;
  margin-top: 40px; }

.profile-contents {
  margin-top: 20px; }
