.splits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 10px; }

.splits > *:nth-child(4n+1) {
  background-color: #f4f4f4;
  color: #666; }

.splits > *:nth-child(4n+2) {
  background-color: #282e34;
  color: #ddd; }

.splits > *:nth-child(4n+3) {
  background-color: #282e34;
  color: #ddd; }

.splits > *:nth-child(4n+4) {
  background-color: #f4f4f4;
  color: #666; }

img {
  height: 130px;
  width: 200px;
  float: center; }
