/* .row{
	margin-left: 75px;
} */

.projects {
	.cards {
		margin: 50px auto;
		perspective: 500px;
	}
	/* flip the pane when hovered */
	.flip-container:hover .flipper {
		transform: rotateY(180deg);
	}
	.flip-container,
	.front,
	.back,
	.flipper {
		width: 300px;
		height: 250px;
	}
	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
		background-color: #fff;
	}
	/* hide back of pane during swap */
	.front,
	.back {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	}
	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}
	.card-img-top {
		height: 60px;
		width: 60px !important;
	}
}