.skills .icons {
  height: 50px;
  margin-left: 30px;
  margin-right: 30px; }

.skills .html-icons {
  margin-left: 20px;
  height: 35px; }

.skills .css-icons {
  height: 35px;
  margin-right: 20px; }

.skills .progress {
  width: 500px; }

.skills .reactJS path {
  fill: #61d8f4; }

.skills .bootsrap path {
  fill: #5b4282; }

.skills .sql-icons {
  height: 50px;
  margin-left: 25px;
  margin-right: 23px; }

.skills .frontend-skills {
  margin-bottom: 20px; }

.skills .card {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  margin: 25px auto;
  width: 700px; }

.skills .card-title {
  text-align: center; }
